@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #b83a01;
  --secondary-color: #bc5b10;
  --accent-color: #034189;
  --text-color: #ffffff;
  --text-body: "Roboto", sans-serif;
  --text-title: "Cherry Bomb One", sans-serif;

  /* dekstop groote tekst */
  --text-title-size-h1: 56px;
  --text-title-size-h2: 40px;
  --text-body-size: 24px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

p {
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  padding: 0 40px;
}

h1 {
  font-family: var(--text-title);
  font-size: var(--text-title-size-h1);
  padding: 0 40px;
}

h2 {
  font-family: var(--text-title);
  font-size: var(--text-title-size-h2);
  padding: 0 40px;
}

ul {
  font-family: var(--text-body);
  font-size: var(--text-body-size);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: var(--primary-color);
  padding: 0 20px;
  box-sizing: border-box;
}

.logo-header {
  height: 80px;
  margin: 0;
}

header nav {
  height: 100%;
  display: flex;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  color: var(--text-color);
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  text-decoration: none;
  font-weight: bold;
}

.button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  min-width: 90px;
  height: auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  filter: brightness(150%);
}

.active {
  filter: brightness(50%);
}

.menu-toggle {
  display: none;
}

.hamburger-menu {
  display: none;
}

.logo-footer {
  height: 200px;
  width: 200px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: var(--primary-color);
  padding-right: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}

footer nav ul li a {
  color: var(--text-color);
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  text-decoration: underline;
  display: block;
  padding: 5px 0;
}

footer section {
  display: flex;
  align-items: center;
}

footer a:hover {
  filter: brightness(50%);
}

main {
  flex-grow: 1;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 100px;
  padding: 100px 0;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

main section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  min-height: 200px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100%;
  height: auto;
}

main > a {
  text-decoration: none;
  color: inherit;
}

.section-terras {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page1/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-bijparken {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page2/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-voorzieningen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page3/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-waaromgeenhonden {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page4/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

main section .section-button {
  margin-left: auto;
  margin-right: 40px;
  width: 250px;
  height: 48px;
  font-size: var(--text-body-size);
  font-family: var(--text-body);
  color: #0000ff;
  text-align: right;
  align-content: center;
  padding: 5px 0;
  padding-right: 30px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.6);
}

.section-button:hover {
  filter: brightness(50%);
}

.section-with-text-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: flex-start;
  background-color: transparent;
  padding: 0;
  height: 100%;
}

.section-with-text-img p {
  flex: 0 0 55%;
  box-sizing: border-box;
}

.section-with-text-img img {
  flex: 0 0 45%;
  max-width: 45%;
  align-self: flex-end;
  height: auto;
  margin-bottom: -20px;
  border-radius: 50px;
}

.section-with-map {
  padding: 0;
  overflow: hidden;
}

.section-img-mobile {
  display: none;
}

.cookies-message {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--text-body);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.cookies-message p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.cookies-buttons {
  display: flex;
}

.cookies-message .reject-button {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: auto;
  height: 20px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid white;
}

.reject-button:hover {
  filter: brightness(50%);
}

.cookies-message .accept-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: auto;
  height: 20px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 8px;
}

.cookie-toggle {
  display: none;
}

#cookie-accept:checked ~ label.accept-button,
#cookie-accept:checked ~ label.reject-button,
#cookie-accept:checked ~ p {
  display: none;
}

.cookies-message:has(#cookie-accept:checked) {
  padding: 0;
  height: 0;
  min-height: 0;
  overflow: hidden;
}

.two-inputs-section {
  display: flex;
  flex-direction: row;
  gap: 3%;
  min-height: 0;
}

.form-section {
  font-family: var(--text-body);
  font-size: var(--text-body-size);
}

form {
  padding: 20px;
}

fieldset {
  border: none;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section textarea {
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  background-color: #ffffff;
  color: #000000;
}

textarea {
  resize: vertical;
}

.label-and-input-section {
  min-height: 0;
}

.conditions-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.submit-button {
  width: 150px;
  height: 50px;
  align-self: center;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

legend {
  font-family: var(--text-title);
  font-size: var(--text-title-size-h2);
  padding-bottom: 20px;
  width: 100%;
}

label {
  padding: 4px 15px;
}

/* -------------------------------------------------------- */
/* telefoon section styling                                 */
/* -------------------------------------------------------- */

@media (max-width: 768px) {
  :root {
    --text-title-size-h1: 26px;
    --text-title-size-h2: 24px;
    --text-body-size: 14px;
  }

  main {
    padding: 40px 0px;
  }

  header {
    position: relative;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: static;
    top: unset;
    right: unset;
    z-index: 10;
    padding: 10px;
  }

  .hamburger-menu .bar {
    display: block;
    width: 70px;
    height: 7px;
    margin: 5px 0;
    background-color: var(--text-color);
    border-radius: 2px;
  }

  #mainNavigation {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    width: 250px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    z-index: 9;
  }

  #mainNavigation ul {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    grid-template-columns: 1fr;
  }

  #mainNavigation ul li {
    justify-content: flex-start;
    padding: 5px 0px;
    width: 100%;
  }

  #mainNavigation ul li a {
    background-color: transparent;
    border-radius: 0;
    min-width: unset;
    font-weight: normal;
    text-decoration: underline;
    padding: 5px 0;
    display: block;
    width: 100%;
    padding: 5px 20px;
    color: var(--text-color);
    text-align: left;
  }

  #mainNavigation a:hover {
    filter: brightness(50%);
  }

  .menu-toggle:checked ~ #mainNavigation {
    display: block;
  }

  .section-with-text-img img {
    display: none;
  }

  .section-with-text-img p {
    flex: 0 0 100%;
  }

  .section-img-mobile {
    flex: 0 0 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  main {
    gap: 2.5rem;
  }

  main section {
    min-height: 0;
    border-radius: 1.5625rem;
  }

  .logo-footer {
    width: 6.25rem;
    height: auto;
  }

  footer p {
    padding: 0;
  }

  footer section {
    flex-direction: column;
    align-items: start;
  }

  .hide-background-mobile {
    background-image: none;
  }

  .cookies-buttons {
    display: flex;
    flex-direction: column;
  }
}
