@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #b83a01;
  --secondary-color: #bc5b10;
  --accent-color: #034189;
  --text-color: #ffffff;
  --text-body: "Roboto", sans-serif;
  --text-title: "Cherry Bomb One", sans-serif;

  /* dekstop groote tekst */
  --text-title-size-h1: 3.5em;
  --text-title-size-h2: 2.5em;
  --text-body-size: 1.5em;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

p {
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  padding: 0 2.5rem;
  line-height: 1.6;
  text-indent: 0;
  word-spacing: 0.1rem;
}

p::first-letter {
  font-size: 1em;
  font-weight: bold;
}

h1 {
  font-family: var(--text-title);
  font-size: var(--text-title-size-h1);
  padding: 0 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h2 {
  font-family: var(--text-title);
  font-size: var(--text-title-size-h2);
  padding: 0 2.5rem;
}

ul {
  font-family: var(--text-body);
  font-size: var(--text-body-size);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.25rem;
  background-color: var(--primary-color);
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.logo-header {
  height: 5rem;
  margin: 0;
  float: left;
}

header::after {
  content: "";
  clear: both;
  display: table;
}

header nav {
  height: 100%;
  display: flex;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  color: var(--text-color);
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  text-decoration: none;
  font-weight: bold;
}

.button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  min-width: 5.625rem;
  height: auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  filter: brightness(150%);
}

.active {
  filter: brightness(50%);
}

.menu-toggle {
  display: none;
}

.hamburger-menu {
  display: none;
}

.logo-footer {
  height: 12.5rem;
  width: 12.5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0.625rem 0;
  background-color: var(--primary-color);
  padding-right: 1.875rem;
  padding-left: 1.25rem;
  box-sizing: border-box;
}

footer nav ul li a {
  color: var(--text-color);
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  text-decoration: underline;
  display: block;
  padding: 0.3125rem 0;
}

footer section {
  display: flex;
  align-items: center;
}

footer a:hover {
  filter: brightness(50%);
}

main {
  flex-grow: 1;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 6.25rem;
  padding: 6.25rem 0;
  height: 100%;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  box-sizing: border-box;
}

main span,
main figure,
main article,
main aside,
main section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.25rem;
  min-height: 12.5rem;
  background-color: var(--primary-color);
  border-radius: 3.125rem;
  width: 100%;
  height: auto;
}

figcaption {
  font-family: var(--text-body);
  padding: 1rem;
  margin-left: 2rem;
}

figure {
  margin: 0;
}

main > a {
  text-decoration: none;
  color: inherit;
}

.section-terras {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page1/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-bijparken {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page2/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-voorzieningen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page3/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-waaromgeenhonden {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/page4/afbeelding1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

main section .section-button {
  margin-left: auto;
  margin-right: 2.5rem;
  width: 15.625rem;
  height: 3rem;
  font-size: var(--text-body-size);
  font-family: var(--text-body);
  color: #0000ff;
  text-align: right;
  align-content: center;
  padding: 0.3125rem 0;
  padding-right: 1.875rem;
  border-radius: 3.125rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.section-button:hover {
  filter: brightness(50%);
}

.section-with-text-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: flex-start;
  background-color: transparent;
  padding: 0;
  height: 100%;
}

.section-with-text-img p {
  flex: 0 0 55%;
  box-sizing: border-box;
}

.section-with-text-img img {
  flex: 0 0 45%;
  max-width: 45%;
  align-self: flex-end;
  height: auto;
  margin-bottom: -1.25rem;
  border-radius: 3.125rem;
}

.section-with-map {
  padding: 0;
  overflow: hidden;
}

.section-img-mobile {
  display: none;
}

.cookies-message {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--text-body);
  padding: 0.9375rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -0.125rem 0.625rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: none;
}

.cookies-message p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.cookies-buttons {
  display: flex;
}

.cookies-message .reject-button {
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  width: auto;
  height: 1.25rem;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 0.125rem solid white;
  border-width: 0.125rem;
  border-style: double;
  border-color: white;
}

.reject-button:hover {
  filter: brightness(50%);
}

.cookies-message .accept-button {
  margin-left: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  width: auto;
  height: 1.25rem;
  text-align: center;
  align-content: center;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
}

.cookie-toggle {
  display: none;
}

#cookie-accept:checked ~ label.accept-button,
#cookie-accept:checked ~ label.reject-button,
#cookie-accept:checked ~ p {
  display: none;
}

.cookies-message:has(#cookie-accept:checked) {
  padding: 0;
  height: 0;
  min-height: 0;
  overflow: hidden;
}

.two-inputs-section {
  display: flex;
  flex-direction: row;
  gap: 3%;
  min-height: 0;
}

.form-section {
  font-family: var(--text-body);
  font-size: var(--text-body-size);
}

form {
  padding: 1.25rem;
}

fieldset {
  border: none;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section textarea {
  border: none;
  border-radius: 1.5625rem;
  padding: 0.9375rem 1.25rem;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--text-body);
  font-size: var(--text-body-size);
  background-color: #ffffff;
  color: #000000;
}

textarea {
  resize: vertical;
}

.label-and-input-section {
  min-height: 0;
}

.conditions-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
}

.submit-button {
  width: 9.375rem;
  height: 3.125rem;
  align-self: center;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

legend {
  font-family: var(--text-title);
  font-size: var(--text-title-size-h2);
  padding-bottom: 1.25rem;
  width: 100%;
}

label {
  padding: 0.25rem 0.9375rem;
}

/* -------------------------------------------------------- */
/* telefoon section styling                                 */
/* -------------------------------------------------------- */

@media (max-width: 48rem) {
  :root {
    --text-title-size-h1: 1.625em;
    --text-title-size-h2: 1.5em;
    --text-body-size: 0.875em;
  }

  main {
    padding: 2.5rem 0rem;
  }

  header {
    position: relative;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: static;
    top: unset;
    right: unset;
    z-index: 10;
    padding: 0.625rem;
  }

  .hamburger-menu .bar {
    display: block;
    width: 4.375rem;
    height: 0.4375rem;
    margin: 0.3125rem 0;
    background-color: var(--text-color);
    border-radius: 0.125rem;
  }

  #mainNavigation {
    display: none;
    position: absolute;
    top: 6.25rem;
    right: 0;
    width: 15.625rem;
    height: 16.25rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.8);
    z-index: 9;
  }

  #mainNavigation ul {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0;
    grid-template-columns: 1fr;
  }

  #mainNavigation ul li {
    justify-content: flex-start;
    padding: 0.3125rem 0;
    width: 100%;
  }

  #mainNavigation ul li a {
    background-color: transparent;
    border-radius: 0;
    min-width: unset;
    font-weight: normal;
    text-decoration: underline;
    padding: 0.3125rem 0;
    display: block;
    width: 100%;
    padding: 0.3125rem 1.25rem;
    color: var(--text-color);
    text-align: left;
  }

  #mainNavigation a:hover {
    filter: brightness(50%);
  }

  .menu-toggle:checked ~ #mainNavigation {
    display: block;
  }

  .section-with-text-img img {
    display: none;
  }

  .section-with-text-img p {
    flex: 0 0 100%;
  }

  .section-img-mobile {
    flex: 0 0 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
  }

  main {
    gap: 2.5rem;
  }

  main section {
    min-height: 0;
    border-radius: 1.5625rem;
  }

  .logo-footer {
    width: 6.25rem;
    height: auto;
  }

  footer p {
    padding: 0;
  }

  footer section {
    flex-direction: column;
    align-items: start;
  }

  .hide-background-mobile {
    background-image: none;
  }

  .cookies-buttons {
    display: flex;
    flex-direction: column;
  }
}
